*
!/src
!/tests
tests/Fixtures/resources
tests/Fixtures/Symfony/app/var
tests/**/.phpunit.result.cache
!tests/Fixtures/resources/.gitignore
!composer.json
!composer.lock
!phpstan.neon.dist
!phpstan.tests.neon
!phpunit.xml
!.php_cs.dist
