includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
parameters:
    excludes_analyse:
    ignoreErrors:
        # Put false positives here
        - '#Parameter \#2 \$callback of method Swoole\\Server::on\(\) expects callable\(\): mixed, array\(mixed, .{1}handle.{1}\) given#'
