includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    excludes_analyse:
        - tests/Fixtures/Symfony/app/var
        - tests/Fixtures/Symfony/app/TestAppKernel
    ignoreErrors:
        # Put false positives here

        # On purpose
        - '#K911\\Swoole\\Tests\\Unit\\Server\\Swoole(:?Http)?Server(:?Mock|Dummy)::__construct\(\) does not call parent constructor from Swoole\\#'

        # Symfony configuration files
        - '#Undefined variable: \$container#'
