parameters:
    level: 4
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    excludes_analyse:
        - tests/Fixtures/Symfony/app/var
        - tests/Fixtures/Symfony/app/TestAppKernel

        # Internal error: Expected to find an ancestor with class name Swoole\Timer on Swoole\Server, but none was found.
        - tests/Unit/Server/SwooleHttpServerDummy.php
        - tests/Unit/Server/SwooleServerMock.php
    ignoreErrors:
        # Put false positives here

        # Symfony configuration files
        - '#Variable \$container might not be defined#'
    paths:
        - tests
