parameters:
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
    ignoreErrors:
        # Put false positives here
