version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
aliases:

  - &docker-env
    docker:
      - image: k911/docker-client:19.03.8-compose
    working_directory: ~/workdir

  - &docker-bake
    <<: *docker-env
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - run:
          name: Export required dynamic env variables
          command: |-
            TAG="$PHP_VERSION-${BUILD_TYPE:-std}-$CIRCLE_SHA1"
            echo "export TAG='$TAG'" >> $BASH_ENV

            if [ "latest" = "$SWOOLE_VERSION" ]; then
              LATEST_SWOOLE_VERSION="$(wget -q -O /dev/stdout https://api.github.com/repos/swoole/swoole-src/releases/latest | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')"
              echo "LATEST_SWOOLE_VERSION=$LATEST_SWOOLE_VERSION"
              echo "export SWOOLE_VERSION='$LATEST_SWOOLE_VERSION'" >> $BASH_ENV
            fi;
      - run:
          name: Print env
          command: env
      - run:
          name: Print docker info
          command: docker info
      - run:
          name: Login to Docker Hub
          command: >-
            DOCKER_REGISTRY="docker.io"
            DOCKER_USERNAME="$DOCKER_HUB_USERNAME"
            DOCKER_PASSWORD="$DOCKER_HUB_TOKEN"
            docker-registry-login
      - run:
          name: Enable Docker Buidx
          environment:
            DOCKER_BUILDX_CONTEXT_CREATE: "1"
            DOCKER_BUILDX_BUILDER_CREATE: "1"
          command: docker-use-buildx
      - run:
          name: Docker Buildx Bake all required images
          command: docker buildx bake --progress=plain $SERVICES

  # Filters
  - &pull-request-checks-job-filters
    filters:
      branches:
        ignore:
          - master

  - &release-job-filters
    filters:
      tags:
        ignore: /.*/
      branches:
        only:
          - master

  # Job templates
  - &job-composer-code-style
    working_directory: /usr/src/app
    steps:
      - run:
          name: Run code style checks
          command: composer cs-analyse
      - run:
          name: Run static anlaysis
          command: composer static-analyse-src
      - run:
          name: Run static anlaysis
          command: composer static-analyse-tests

  - &job-composer-unit-tests
    working_directory: /usr/src/app
    steps:
      - run:
          name: Prepare dir for test results
          command: mkdir -p phpunit
      - run:
          name: Run unit tests
          command: composer unit-tests-junit
      - store_test_results:
          path: phpunit
      - store_artifacts:
          path: phpunit

  - &job-composer-feature-tests
    working_directory: /usr/src/app
    steps:
      - run:
          name: Prepare dir for test results
          command: mkdir -p phpunit
      - run:
          name: Run feature tests
          command: composer feature-tests-junit
      - store_test_results:
          path: phpunit
      - store_artifacts:
          path: phpunit

jobs:
  swoole-bundle-composer-73-code-style:
    <<: *job-composer-code-style
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.3-std-$CIRCLE_SHA1

  swoole-bundle-composer-74-code-style:
    <<: *job-composer-code-style
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.4-std-$CIRCLE_SHA1

  swoole-bundle-composer-73-lowest-code-style:
    <<: *job-composer-code-style
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.3-lowest-$CIRCLE_SHA1

  swoole-bundle-composer-74-latest-code-style:
    <<: *job-composer-code-style
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.4-latest-$CIRCLE_SHA1

  swoole-bundle-composer-73-unit-tests:
    <<: *job-composer-unit-tests
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.3-std-$CIRCLE_SHA1

  swoole-bundle-composer-74-unit-tests:
    <<: *job-composer-unit-tests
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.4-std-$CIRCLE_SHA1

  swoole-bundle-composer-73-lowest-unit-tests:
    <<: *job-composer-unit-tests
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.3-lowest-$CIRCLE_SHA1

  swoole-bundle-composer-74-latest-unit-tests:
    <<: *job-composer-unit-tests
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.4-latest-$CIRCLE_SHA1

  swoole-bundle-composer-73-feature-tests:
    <<: *job-composer-feature-tests
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.3-std-$CIRCLE_SHA1

  swoole-bundle-composer-74-feature-tests:
    <<: *job-composer-feature-tests
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.4-std-$CIRCLE_SHA1

  swoole-bundle-composer-74-latest-feature-tests:
    <<: *job-composer-feature-tests
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.4-latest-$CIRCLE_SHA1

  swoole-bundle-composer-73-lowest-feature-tests:
    <<: *job-composer-feature-tests
    docker:
      - image: docker.io/k911/swoole-bundle-composer:7.3-lowest-$CIRCLE_SHA1

  swoole-bundle-73-code-coverage:
    <<: *docker-env
    environment:
      REGISTRY: docker.io
      NAMESPACE: k911
      IMAGE: swoole-bundle
      PHP_VERSION: 7.3
      CC_TEST_REPORTER_ID: 77af0c58a2646fe49fb7df502c38a56560e074fbc8b3086f2d33032b44c885a8
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - run:
          name: Export required dynamic env variables
          command: |-
            TAG="$PHP_VERSION-${BUILD_TYPE:-std}-$CIRCLE_SHA1"
            echo "export TAG='$TAG'" >> $BASH_ENV
      - run:
          name: Print env
          command: env
      - run:
          name: Print docker info
          command: docker info
      - run:
          name: Login to Docker Hub
          command: >-
            DOCKER_REGISTRY="docker.io"
            DOCKER_USERNAME="$DOCKER_HUB_USERNAME"
            DOCKER_PASSWORD="$DOCKER_HUB_TOKEN"
            docker-registry-login
      - run:
          name: Pull required docker images
          command: docker-compose pull composer coverage-pcov coverage-xdebug
      - run:
          name: Prepare CodeClimate Code Coverage reporter
          command: |-
            wget -O cc-test-reporter https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build
      - run:
          name: Prepare coverage results volume
          command: |-
            docker-compose up -d coverage-volume-helper
            docker-compose exec coverage-volume-helper chown 1000:1000 cov
      - run:
          name: Run unit tests with coverage (pcov)
          command: docker-compose run --rm coverage-pcov
      - run:
          name: Run feature tests with coverage (xdebug) and retry
          command: docker-compose run --rm coverage-xdebug-feature-with-retry
      - run:
          name: Run feature tests with coverage (pcov)
          command: docker-compose run --rm coverage-pcov feature-code-coverage
      - run:
          name: Merge code coverage files generated across test suites
          command: docker-compose run --rm merge-code-coverage
      - run:
          name: Extract code coverage from container volume
          command: docker cp $(docker-compose ps -q coverage-volume-helper):/usr/src/app/cov/clover.xml clover.xml
      - run:
          name: Send Code Coverage report to CodeClimate
          command: ./cc-test-reporter after-build -t clover --exit-code 0 --prefix /usr/src/app
      - codecov/upload:
          file: clover.xml

  releaser-dry-run:
    docker:
      - image: docker.io/k911/swoole-bundle-releaser:7.4-std-$CIRCLE_SHA1
    working_directory: /usr/src/app
    environment:
      DRY_RUN: "1"
      GH_TOKEN: "xxx"
    steps:
      - checkout
      - run:
          name: Dry run release-version script
          command: release-version

  releaser:
    docker:
      - image: docker.io/k911/swoole-bundle-releaser:7.4-std-$CIRCLE_SHA1
    working_directory: /usr/src/app
    environment:
      DRY_RUN: "0"
    steps:
      - checkout
      - run:
          name: Dry run release-version script
          command: release-version

  docker-buildx-bake-74:
    <<: *docker-bake
    environment:
      PHP_VERSION: 7.4
      PHP_API_VERSION: "20190902"
      REGISTRY: docker.io
      NAMESPACE: k911
      IMAGE: swoole-bundle
      SERVICES: releaser composer

  docker-buildx-bake-73:
    <<: *docker-bake
    environment:
      PHP_VERSION: 7.3
      PHP_API_VERSION: "20180731"
      REGISTRY: docker.io
      NAMESPACE: k911
      IMAGE: swoole-bundle
      SERVICES: composer coverage-xdebug coverage-pcov

  docker-buildx-bake-73-lowest:
    <<: *docker-bake
    environment:
      PHP_VERSION: 7.3
      PHP_API_VERSION: "20180731"
      COMPOSER_ARGS: update --prefer-lowest
      REGISTRY: docker.io
      NAMESPACE: k911
      IMAGE: swoole-bundle
      SERVICES: composer
      BUILD_TYPE: lowest

  docker-buildx-bake-74-latest:
    <<: *docker-bake
    environment:
      PHP_VERSION: 7.4
      PHP_API_VERSION: "20190902"
      COMPOSER_ARGS: update --ignore-platform-reqs
      SWOOLE_VERSION: latest
      REGISTRY: docker.io
      NAMESPACE: k911
      IMAGE: swoole-bundle
      SERVICES: composer
      BUILD_TYPE: latest

  check-composer-config:
    docker:
      - image: composer:1
    steps:
      - checkout
      - run:
          name: Validate composer configuration
          command: composer validate

  shellcheck:
    docker:
      - image: koalaman/shellcheck-alpine:stable
    steps:
      - checkout
      - run:
          name: Shellcheck ".circleci" directory
          command: shellcheck .circleci/*.sh
      - run:
          name: Shellcheck "tests" directory
          command: shellcheck tests/*.sh

  validate-commit-message:
    docker:
      - image: node:lts-alpine
    steps:
      - checkout
      - run:
          name: Install git
          command: apk add --no-cache git
      - run:
          name: Install commitlint
          command: |-
            npm config set unsafe-perm true
            npm i -g @commitlint/cli @commitlint/config-conventional
      - run:
          name: Validate commit message format
          command: commitlint --from=HEAD~20 -V

workflows:
  version: 2.1
  pull-request-checks:
    jobs:
      - validate-commit-message:
          <<: *pull-request-checks-job-filters
      - shellcheck:
          <<: *pull-request-checks-job-filters
      - check-composer-config:
          <<: *pull-request-checks-job-filters
      - releaser-dry-run:
          <<: *pull-request-checks-job-filters
          requires:
            - shellcheck
            - docker-buildx-bake-74
      - docker-buildx-bake-74:
          <<: *pull-request-checks-job-filters
          requires:
            - check-composer-config
            - validate-commit-message
      - swoole-bundle-composer-74-code-style:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-74-unit-tests:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-74-feature-tests:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74
      - docker-buildx-bake-73:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-73-code-style:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-73
      - swoole-bundle-composer-73-unit-tests:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-73
      - swoole-bundle-composer-73-feature-tests:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-73
      - docker-buildx-bake-73-lowest:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-73-lowest-code-style:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-73-lowest
      - swoole-bundle-composer-73-lowest-unit-tests:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-73-lowest
      - swoole-bundle-composer-73-lowest-feature-tests:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-73-lowest
      - docker-buildx-bake-74-latest:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-74-latest-code-style:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74-latest
      - swoole-bundle-composer-74-latest-unit-tests:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74-latest
      - swoole-bundle-composer-74-latest-feature-tests:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-74-latest
      - swoole-bundle-73-code-coverage:
          <<: *pull-request-checks-job-filters
          requires:
            - docker-buildx-bake-73

  release:
    jobs:
      - shellcheck:
          <<: *release-job-filters
      - check-composer-config:
          <<: *release-job-filters
      - validate-commit-message:
          <<: *release-job-filters
      - releaser-dry-run:
          <<: *release-job-filters
          requires:
            - shellcheck
            - docker-buildx-bake-74
      - docker-buildx-bake-74:
          <<: *release-job-filters
          requires:
            - check-composer-config
            - validate-commit-message
      - swoole-bundle-composer-74-code-style:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-74-unit-tests:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-74-feature-tests:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74
      - docker-buildx-bake-73:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-73-code-style:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-73
      - swoole-bundle-composer-73-unit-tests:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-73
      - swoole-bundle-composer-73-feature-tests:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-73
      - docker-buildx-bake-73-lowest:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-73-lowest-code-style:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-73-lowest
      - swoole-bundle-composer-73-lowest-unit-tests:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-73-lowest
      - swoole-bundle-composer-73-lowest-feature-tests:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-73-lowest
      - docker-buildx-bake-74-latest:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74
      - swoole-bundle-composer-74-latest-code-style:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74-latest
      - swoole-bundle-composer-74-latest-unit-tests:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74-latest
      - swoole-bundle-composer-74-latest-feature-tests:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-74-latest
      - swoole-bundle-73-code-coverage:
          <<: *release-job-filters
          requires:
            - docker-buildx-bake-73
      - releaser:
          <<: *release-job-filters
          requires:
            - releaser-dry-run
            - swoole-bundle-73-code-coverage
            - swoole-bundle-composer-74-latest-feature-tests
            - swoole-bundle-composer-74-latest-unit-tests
            - swoole-bundle-composer-74-latest-code-style
            - swoole-bundle-composer-73-lowest-feature-tests
            - swoole-bundle-composer-73-lowest-unit-tests
            - swoole-bundle-composer-73-lowest-code-style
            - swoole-bundle-composer-74-feature-tests
            - swoole-bundle-composer-74-unit-tests
            - swoole-bundle-composer-74-code-style
            - swoole-bundle-composer-73-feature-tests
            - swoole-bundle-composer-73-unit-tests
            - swoole-bundle-composer-73-code-style
